.todo-form {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 12px 0 4px 0;
    justify-content: center;
}

.todo-form-plus-button {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0 4px 0;

}

.todo-input {
    width: 60%;
    padding: 2px 2px 2px 4px;
    border: none;
    outline: none;
}

.todo-input:disabled {
    background: transparent;
    width: 60%;
    padding: 2px 2px 2px 4px;
}

.todo-icon,
.todo-input::placeholder {
    color: #aaaaaa;
}

.todo-icon {
    font-size: 24px;
}

.todo-button {
    padding: 2px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    border-radius: 4px;
    background: transparent;
    color: #333333;
}