.todo-form {
    display: flex;
    align-items: center;
    margin: 16px 0 0 0;
    padding: 0;
    justify-content: center;
}

.todo-input {
    width: 40%;
    padding: 2px 2px 2px 4px;
    border: none;
    outline: none;
}

/* .todo-button,
.todo-input:focus {
    background: #dedede;
    color: #333333;
} */

.todo-icon,
.todo-input::placeholder {
    color: #aaaaaa;
}

/* .todo-input:focus {
    width: 56%;
} */

.todo-icon {
    font-size: 24px;
}

.todo-button {
    padding: 2px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    border-radius: 4px;
    background: #dedede;
    color: #333333;
}


.dissabled-button {
    background: red;
    padding: 2px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    border-radius: 4px;
}