.BoxShowError {
    width: 92%;
    display: flex;
    align-items: center;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold; 
    margin: 0;
    padding: 0;
}

.BoxShowErrorMessage {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0 4px 0 0;
    padding: 0; 
}

.TodoForm{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 12px 0 4px 0;
    justify-content: center;
}

.TodoFormPlusButton {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 4px 0;
}

.TodoInput {
    width: 60%;
    padding: 2px 2px 2px 4px;
    border: none;
    outline: none;
}

.TodoInput:disabled {
    background: transparent;
    width: 60%;
    padding: 2px 2px 2px 4px;
}

.TodoIcon,
.TodoInput::placeholder {
    color: #aaaaaa;
}

.TodoIcon {
    font-size: 24px;
}

.TodoButton {
    padding: 2px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    border-radius: 4px;
    background: transparent;
    color: #333333;
}