.TdForm {
    width: 90%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 16px;
    left: 10px;
}

.TdFormTextareaDescription,
.TdFormTextareaComment,
.TdFormInput,
.Title,
.TdFormWords p {
    font-family: 'Roboto', sans-serif;
}

.TdFormIcon {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.CloseIcon {
    margin: 0 0 12px 0;
    padding: 0;
    font-size: 16px;
}

.TdFormInput,
.TdFormTextareaDescription,
.TdFormTextareaComment {
    background: #EDEDED;
}

.TdFormInput {
    width: 92%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.TdFormTextareaDescription,
.TdFormTextareaComment {
    width: 91%;
    font-size: 16px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
}

.TdFormTextareaDescription {
    height: 100px;
}

.TdFormTextareaComment {
    height: 64px;
    margin: 0 0 16px 0;
}

.Title {
    width: 96%;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 12px 0 8px 0;
}

.TdFormWords {
    width: 96%;
    margin: 16px 0 0 0;
    display: flex;
}

.TdFormWords p {
    margin: 0 4px 0 0;
    background: green;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
}

.TdFormUsers {
    padding: 0;
    margin: 0 0 20px 0;
}