.Signout {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
}

.EmptySpaceSignout {
    background: rgba(0, 0, 0, 25%);
    width: 100%;
    min-height: 587px;
    position: absolute;
}

.Footer,
.LogoutButton {
    display: flex;
}

.Footer {
    flex-direction: column;
}

.Footer,
.LogoutButton {
    background: white; 
}

.Footer {
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 587px;
}

.LogoutButton {
    align-items: center;
    margin: 0 0 0 16px;
    padding: 4px 8px 4px 0;
    border-radius: 8px;
    outline: none;
    border: none;
}

.LogoutButtonIcon,
.LogoutButtonText {
    color: #452cb4;
}

.LogoutButtonIcon {
    font-size: 20px;
}

.LogoutButtonText {
    font-size: 20px;
    margin: 0 0 0 8px;
}