* {
    margin: 0;
    padding: 0;
}

.App {
    max-width: 414px;
    max-height: 680px;
    background: #4D2DD9;
}

.Home {
    padding: 24px 16px;
    min-height: 667px;
}

.Myboards {
    display: flex;
    align-items: center;
    color: white;
    margin: 16px 0 0 0;
}

.MyboardsButton {
    display: flex;
    align-items: center;
    padding: 2px 1px;
    margin: 0 0 12px 16px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.Subtitle {
    color: white;
    margin: 0 0 12px 0;
}

.MyboardsButtonPlus {
    font-size: 24px;
    color: white;
}

.MyboardsButtonPlus:hover {
    color: rgba(0, 0, 0, 0.85);
}

.Boards {
    display: flex;
    min-height: 168px;
    margin: 0 0 24px 0;
}
