.TodoLists {
    padding: 24px 16px;
    min-height: 621px;
}

.GoHome {
    width: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ButtonHomee {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

.IconHome {
    font-size: 24px;
    color: white;
}

.TitleTodo {
    min-width: 320px;
    margin: 16px 0 12px 0;
    padding: 4px 0;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    background: transparent;
}

.TitleTodo,
.TitleTodo::placeholder {
    color: white;
}

.BorderUser {
    border: 4px solid green;
}

.TodoInviteUser {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

.TodoInviteUserPlus {
    display: flex;
    padding: 8px;
    margin: 0 2px 0 0;
    background: #598AB9;
    border-radius: 100px;
    border: none;
    outline: none;
}

.TodoInviteUserPlusIcon,
.TodoListPlusIcon {
    font-size: 24px;
    color: white;
}

.TodoListPlus {
    padding: 56px 8px;
    background: #63E6C3;
    border-radius: 8px;
    border: none;
    outline: none;
}

.SetTodoList {
    min-width: 240px;
    min-height: 400px;
    display: flex;
}

.TodoList {
    display: flex;
    align-items: flex-start;
}